@import url(../../../const/const.css);

#navigation .menu {
  z-index: 5;
}

#navigation .menu .list-container {
  width: 300px;
  perspective: 1000px;

  background-color: var(--bar-color);
  box-shadow: 7px 7px 10px 0px gray;
}

#navigation .menu .menu-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  margin: 0px 0px 0px 10px;
  border-radius: 10px;
  padding: var(--bar-height) 0px 10px 0px;
}

#navigation .menu.colapsed .menu-dropdown {
  animation: menu-dropup-animation 300ms ease-in-out forwards;
  transform-origin: top center;
}

#navigation .menu.expanded .menu-dropdown {
  display: block;
  animation: menu-dropdown-animation 300ms ease-in forwards;
  transform-origin: top center;
}

@keyframes menu-dropdown-animation {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes menu-dropup-animation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

#navigation .menu ul {
  list-style: none;
  padding: 0;
}

#navigation .menu ul hr {
  width: calc(100% - 2 * 40px);
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--font-color),
    transparent
  );
}
