@import url("../../../const/const.css");

#ghiduri #header .title {
  padding: 0px;
}

#ghiduri #header .subtitle {
  font-size: 1.5em;
}

#ghiduri .main {
  background-color: var(--primary);
}

#ghiduri .content {
  max-width: 1200px;

  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  #ghiduri .content {
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  #ghiduri .content {
    padding: 100px 20px;
    grid-template-columns: 1fr;
  }
}

