@import url("../../../const/const.css");

.regulamente #header .title {
  padding: 0px;
}

.regulamente #header .subtitle {
  font-size: 1.5em;
}

.regulamente .main {
  background-color: var(--primary);
}

.regulamente .content {
  max-width: 1200px;

  display: grid;
  gap: 30px;
  grid-template-columns: 380px 380px 380px;

  padding-top: 100px;
  padding-bottom: 100px;
}

