@import url(../../const/const.css);

.navigationLink {
  color: white;
  margin: 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-family-title);
  font-weight: bold;
  transition: background-color 0.5s, font-size 0.5s;
}

.navigationLink:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
  font-size: 1.08em;
}
