@import url("../../const/const.css");

#navigation {
  --bar-height: 50px;
  --bar-color: var(--dark);

  position: fixed;
  height: var(--bar-height);
  width: 100%;
  z-index: 1;

  background-color: var(--bar-color);
}

#navigation > .container {
  width: calc(100% - 2 * 20px);
  height: 100%;
  justify-content: flex-start;
  margin: 0px 20px 0px 20px;
}

#navigation .logo-container {
  --offset: 10px;
  --size: calc(2 * var(--bar-height) - 2 * var(--offset));

  height: var(--size);
  width: var(--size);
  position: relative;
  top: calc(var(--bar-height) / 2);

  background-color: white;
  border: 3px solid var(--bar-color);
  border-radius: calc(var(--size) / 2);
}

#navigation .logo-container > img {
  --margin: 3px;

  width: calc(100% - 2 * var(--margin));
  margin: var(--margin);
}

#navigation .links-container {
  height: 100%;
  flex: 1;
}

#navigation .auth-container {
  flex: 0;
  position: relative;
  color: white;
  margin-left: 20px;
}
