@import url("../../const/const.css");

#navigation {
  --bar-height: 50px;
  --bar-color: var(--secondary);
  --font-color: var(--dark);

  position: fixed;
  width: 100%;
  z-index: 10;

  box-shadow: 0px 5px 5px 0px gray;
}

#navigation > .container {
  --padding: 40px;
  font-size: 1.2em;
  width: 100%;
  height: var(--bar-height);
  justify-content: flex-start;
  padding: 0px var(--padding) 0px var(--padding);
  background-color: var(--bar-color);
}

#navigation .logo-container {
  --offset: 10px;
}
#navigation .menu-icon-container {
  --offset: 25px;
  margin-left: 20px;
}
#navigation .logo-container,
#navigation .menu-icon-container {
  --size: calc(2 * var(--bar-height) - 2 * var(--offset));

  height: var(--size);
  width: var(--size);
  position: relative;
  top: calc(var(--bar-height) / 2);

  background-color: white;
  border: 3px solid var(--bar-color);
  border-radius: calc(var(--size) / 2);
  overflow: hidden;

  box-shadow: 7px 7px 10px 0px gray;
}

#navigation .logo-container img {
  width: calc(100% - 2 * var(--margin));
}
#navigation .menu-icon-container img {
  width: calc(80% - 2 * var(--margin));
}
#navigation .logo-container img,
#navigation .menu-icon-container img {
  --margin: 3px;
  margin: var(--margin);
}

#navigation .links-container {
  height: 100%;
  flex: 1;
}

#navigation .auth-container {
  flex: 0;
  position: relative;
  color: var(--font-color);
  margin-left: 20px;
}
