@import url("../../../const/const.css");

.header-card {
  position: absolute;
  padding: 40px;
  background-color: var(--primary);
  color: white;
  border-radius: 20px;
  max-width: 60vw;
  left: 200px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}
