@import url(../../const/const.css);

#index #about .main {
  background-color: var(--primary);
}

#index #about .content {
  max-width: 800px;
  display: grid;
  grid-template-columns: 400px 600px;
  gap: 0px;

  padding-top: 50px;
  padding-bottom: 50px;
}

#index #about .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 1em;
  color: white;
}

#index #about .container.span {
  grid-column: 1 / span 2;
}

#index #about .container > h4 {
  font-family: var(--font-family-title);
  padding-left: 40px;
}

#index #about .container > p {
  font-size: 1.3em;
  text-align: justify;
}

#index #about .container > p.left {
  padding: 40px 0px 0px 0px;
  font-style: italic;
}
