@import url("../../const/const.css");

.index.fullscreen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index.fullscreen .index.banner {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index.fullscreen .index.banner img {
  object-fit: scale-down;
  box-sizing: border-box;
  width: 100%;

  padding-left: 20px;
  padding-right: 20px;
}

.index.headerText {
  position: relative;
  margin-bottom: 100px;
  text-align: center;
}

.index.headerMouseScrollDown {
  margin-bottom: 10px;
}
