@import url("../../const/const.css");

#index #header {
  min-height: 100vh;
  z-index: 0;
}

#index #header .banner-container {
  flex: 1;
}

#index #header .banner-container > img {
  width: 100%;
  object-fit: scale-down;

  padding-left: 20px;
  padding-right: 20px;
}

#index #header .title {
  font-weight: bold;
  text-align: center;

  padding: 70px;
  margin-bottom: 100px;
}

#index #header headerMouseScrollDown {
  margin-bottom: 10px;
}
