@import url("../../const/const.css");

.index .title {
  padding: 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.index .about .title {
  color: white;
  background-color: var(--primary);
}

.index .about .main {
  background-color: var(--primary);
}

.index .about .main .content {
  width: 800px;
  max-width: 800px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
}

.index .about .aboutPart {
  color: white;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1em;
}

.index .about .aboutPart h4 {
  font-family: var(--font-family-title);
}

.index .about .aboutPart p {
  font-size: 1.3em;
  font-style: italic;
  padding: 40px;
}

.index .about .aboutPart .container {
  height: 400px;
  padding-left: 100px;
}

.index .about .aboutPart .container img {
  height: 100%;
}

.index .projects {
  background-color: transparent;
  color: var(--primary-hover);
}

.index .projects .content {
  width: 1200px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.index .projects .content > h3 {
  text-shadow: 0px 5px 10px rgb(176, 176, 176);
}
.index .projects .content > p {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0px 5px 10px rgb(176, 176, 176);
}

.index .projects .content .container {
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  gap: 30px;
  grid-template-columns: 380px 380px 380px;
}

.index .projects .content > a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-family: var(--font-family-title);
  font-weight: bold;
  box-sizing: border-box;
  padding: 20px 20px;
  align-self: center;
  background-color: var(--primary-hover);
  border-radius: 40px;
  transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
  max-width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px grey;
}

.index .projects .content > a:hover {
  cursor: pointer;
  background-color: var(--dark);
  transform: translate(0px, -10px);
  box-shadow: 0px 10px 15px 0px grey;
}
