@import url("../../const/const.css");

.index .title {
  padding: 70px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.index .about .title {
  color: white;
  background-color: var(--primary);
}

.index .about .main {
  background-color: var(--primary);
}

.index .about .main .content {
  width: 800px;
  max-width: 800px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
}

.index .about .aboutPart {
  color: white;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1em;
}

.index .about .aboutPart h4 {
  font-family: var(--font-family-title);
}

.index .about .aboutPart p {
  font-size: 1.3em;
  font-style: italic;
  padding: 40px;
}

.index .about .aboutPart .container {
  height: 400px;
  padding-left: 100px;
}

.index .about .aboutPart .container img {
  height: 100%;
}

.index .projects {
  background-color: transparent;
  color: var(--primary-hover);
}

.index .projects .content {
  width: 1200px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-align: center;
}

.index .projects .content p {
  font-size: 1.5em;
}

.index .projects .container {
  padding-top: 40px;
  padding-bottom: 60px;
  display: grid;
  gap: 40px;
  grid-template-columns: 400px 400px 400px;
}
