@import url("../../const/const.css");

body {
  background-color: white;
  color: var(--primary);
  font-size: 1em;
  font-family: var(--font-family-text);

  background-image: url("../photos/background-tile.png");
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6em;
  font-family: var(--font-family-title);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 5em;
  font-family: var(--font-family-title);
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 4em;
  font-family: var(--font-family-title);
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 3em;
  font-family: var(--font-family-title);
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 2em;
  font-family: var(--font-family-title);
  margin: 0;
  padding: 0;
}
